<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
</head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<hr>
<h1>THIS IS MY BLOG POST</h1>
<img alt="" src="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet enim esse id maxime molestias praesentium voluptas? At deserunt doloribus dolorum eius ex explicabo harum laudantium quibusdam! Eligendi harum ipsa velit?</p>
<img alt="" src="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, alias doloribus harum illo impedit in perferendis velit! A ab aliquid consequatur distinctio eos, fugiat molestiae nihil odio quidem repudiandae?</p>
<hr>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>