<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dice Roll</title>
    <link rel="stylesheet" href="partials/css/navbar.css">
</head>
<body>
<div th:insert="~{partials/navbar :: navbar}"></div>
<h1>Guess a number between 1 and 6</h1>
<form action="/roll-dice" method="post">
    <input type="text" name="guess" id="guess-ip" class="field" />
    <button>Guess</button>
</form>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>